head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='icon' href='../../../../favicon.ico')
  title SUCI Tool
  // Bootstrap core CSS
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' rel='stylesheet')
  // Custom styles for this template
  //link(href='style.css' rel='stylesheet')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.label(href='#' style='color: aliceblue') G+D Project
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExample07' aria-controls='navbarsExample07' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExample07.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a#dropdown07.nav-link(href='https://example.com' aria-haspopup='true' aria-expanded='false') SUCI Encryption
        li.nav-item
          a#dropdown07.nav-link(href='https://example.com' aria-haspopup='true' aria-expanded='false') SUCI Decryption
// Toolbar
.container-col-md-12
  // HEADING OF THE Toolbar
  br
  // Input Parameter Container
  form.container.col-md-10
    //
      Grid row
      <div class="mx-auto" style="width: 200px;">
      <h2 class="badge badge-dark">G + D : SUCI Calc Tool</h2>
      </div>
    // Select Card Reader
    .form-group.row
      // Material input
      label.col-sm-2.col-form-label(for='hnprivatekey')
        h3.font-weight-bold.badge.badge-pill Select Card Reader
      .col-md-8
        .md-form.mt-3
          select.form-control.text-monospace(required='' placeholder='Select Card Connected to SUCICalc')
            option OmniKey SmartCard Reader 3121
            option Reader 2
            option Reader 3
            option Reader 4
      .col-md-2.md-form.mt-3
        button#requestDevice.text-monospace.btn.btn-outline-secondary(type='button' style='width: 90%')
          | Connect / Disconnect
    // End of Row 1 - Connect
    // Card
    .form-group.row
      // Card 1: Details From Card Files
      // Card 2: Table - User Pin Config
      .container.col-md-12
        .card-deck
          .card
            .card-block
              .card-header
                h4.card-title.text-center Details From Card Files
              .md-form.form-group
                label.col-sm-2.col-form-label(for='supiformat')
                  h3.font-weight-bold.badge.badge-pill ICCID
                .col-sm-12
                  .md-form.mt-0
                    input#supiformat.form-control.text-monospace(type='text' readonly='')
              .md-form.form-group
                label.col-sm-2.col-form-label(for='supiformat')
                  h3.font-weight-bold.badge.badge-pill IMSI
                .col-sm-12
                  .md-form.mt-0
                    input#supiformat.form-control.text-monospace(type='text' readonly='')
          .card
            .card-block
              .card-header.text-center
                h4.card-title.text-center User Pin Configuration
              .table-responsive
                table.table
                  thead.thead-light
                    tr
                      th(scope='col') File Name
                      th(scope='col') File ID
                      th(scope='col') Read AC
                  tbody
                    tr
                      td EF_IMSI
                      td 6F07
                      td
                        button#dropdown07.btn.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Disabled/Always
                        .dropdown-menu(aria-labelledby='dropdown07')
                          a.dropdown-item PIN Appl 1
                          a.dropdown-item.Disabled NA
                    tr
                      td EF_UST
                      td 6F38
                      td
                        button#dropdown07.btn.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Disabled/Always
                        .dropdown-menu(aria-labelledby='dropdown07')
                          a.dropdown-item PIN Appl 1
                          a.dropdown-item.Disabled NA
                    tr
                      td EF_DIR
                      td 3F002F00
                      td
                        button#dropdown07.btn.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Disabled/Always
                        .dropdown-menu(aria-labelledby='dropdown07')
                          a.dropdown-item PIN Appl 1
                          a.dropdown-item NA
        br
      // Get Identity
      .col-md-12
        button.text-monospace.btn.btn-outline-secondary(type='button' style='align-self: flex-end; width: 100%')
          | Get Identity
    // Get Identity Response
    .form-group.row
      // Material input
      label.col-sm-2.col-form-label(for='hnprivatekey')
        h3.font-weight-bold.badge.badge-pill Get Identity Response
      .col-sm-8
        .md-form.mt-3
          input#ciphertxt.form-control.text-monospace(mdbinput='' type='text')
      .col-sm-2.md-form.mt-3
        button.text-monospace.btn.btn-outline-secondary(type='button' style='width: 80%')
          | GO
    // Parsed Output
    .card.col-md-12(style='height: 20%; width: 120%;')
      .card-body
        h3.card-title.font-weight-bold Parsed Output
        table.table
          thead.thead-light
            tr
              th(scope='col') SUPI Format
              th(scope='col') Identity Type
              th(scope='col') MCC
              th(scope='col') MNC
              th(scope='col') Routing Indicator
              th(scope='col') PSID
              th(scope='col') HN. Key ID
              th(scope='col') MAC
              th(scope='col') Cipher Text
          tbody
            tr
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
              th(scope='col')
                input.form-control(type='text' aria-describedby='basic-addon3')
    // Eph. Public Key
    .form-group.row
      // Material input
      label.col-sm-2.col-form-label(for='hnprivatekey')
        h3.font-weight-bold.badge.badge-pill Eph. Public Key
      .col-sm-10
        .md-form.mt-3
          input#ciphertxt.form-control.text-monospace(mdbinput='' type='text')
    // HN. Private Key (Profile)
    .form-group.row
      // Material input
      label.col-sm-2.col-form-label(for='hnprivatekey')
        h3.font-weight-bold.badge.badge-pill HN. Private Key
      .col-sm-8
        .md-form.mt-3
          input#ciphertxt.form-control.text-monospace(mdbinput='' type='text')
      .col-sm-2.md-form.mt-3
        button.text-monospace.btn.btn-outline-secondary(type='button' style='width: 80%')
          | Calculate
    br
    // Calculated Output
    .card.col-md-12(style='height: 40%; width: 120%;')
      .card-body
        h3.card-title.font-weight-bold Calculated Output
        table.table
          tr
            .input-group
              span#basic-addon2.input-group-text.col-md-2 Shared Key
              input#sharedkey.form-control.text-monospace(readonly='' formcontrolname='Shared_Key' type='text')
            .input-group
              span#basic-addon2.input-group-text.col-md-2 Decrypted Key
              input#sharedkey.form-control.text-monospace(readonly='' formcontrolname='Shared_Key' type='text')
            .input-group
              span#basic-addon2.input-group-text.col-md-2 ICB
              input#sharedkey.form-control.text-monospace(readonly='' formcontrolname='Shared_Key' type='text')
            .input-group
              span#basic-addon2.input-group-text.col-md-2 MAC Key
              input#sharedkey.form-control.text-monospace(readonly='' formcontrolname='Shared_Key' type='text')
            .input-group
              span#basic-addon2.input-group-text.col-md-2 Decrypted Key
              input#sharedkey.form-control.text-monospace(readonly='' formcontrolname='Shared_Key' type='text')
            .input-group
              span#basic-addon2.input-group-text.col-md-2 Calculated MAC
              input#sharedkey.form-control.text-monospace(readonly='' formcontrolname='Shared_Key' type='text')
            .input-group
              span#basic-addon2.input-group-text.col-md-2 MSIN
              input#sharedkey.form-control.text-monospace(readonly='' formcontrolname='Shared_Key' type='text')
          tbody
    // LOG Capturing
    .form-group.row
      // Material input
      label.col-sm-2.col-form-label(for='hnprivatekey')
        h3#status.font-weight-bold.badge.badge-pill Log
    .col-sm-12
      .md-form.mt-0
        #log.input.required.form-control.text-monospace(readonly='' type='text' style='height: 30%;')
      br
